<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdemo.databinding">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".function.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".function.activity.BasicSample"/>
        <activity android:name=".function.activity.IncludeLayout"/>
        <activity android:name=".function.activity.CollectionLayout"/>
        <activity android:name=".function.activity.RecyclerViewScroll"/>
        <activity android:name=".function.activity.RecyclerViewWithDataBinding"/>
        <activity android:name=".function.activity.ViewShowAndHide"/>
        <activity android:name=".function.activity.CustomBindingAdapter"/>
        <activity android:name=".function.activity.ResourceBinding"/>
        <activity android:name=".function.activity.MultiLayoutRecyclerView"/>
    </application>

</manifest>